<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/main.css">
    <link id="favicon" rel="shortcut icon" type="image/png" href="..\Images\favicon.ico"/>
    <title>Activities</title>
</head>
<body>
    <header>
        <h1>Add Activities</h1>
    </header>
    <div class="details-container">
        <div class="login-box">
            <form action="/activities/save" method="post">
                <div class="user-box">
                    <input type="text" name="normal" id="normal" value="<%=result.activities.normal%>">
                    <label>Nomal Stress:</label>
                </div>
                <div class="user-box">
                    <input type="text" name="medium" id="medium" value="<%=result.activities.medium%>">
                    <label>Medium Stress:</label>
                </div>
                <div class="user-box">
                    <input type="text" name="high" id="high" value="<%=result.activities.high%>">
                    <label>High Stress:</label>
                </div>
                <button class="button login" type="submit">Save</button>
            </form>
        </div>
    </div>
    <nav>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/arrow-back.png" alt="back"></a>
        </div>
        <div class="nav-item">
            <a href="/home"><img src="../Images/home.png" alt="home"></a>
        </div>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/user-profilepng.png" alt="user profile"></a>
        </div>
    </nav>
</body>
</html>