<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/main.css">
    <link id="favicon" rel="shortcut icon" type="image/png" href="..\Images\favicon.ico"/>
    <title>Home</title>
</head>
<body>
    <div class="stresslevel">
        <h1>Stress Level</h1>
        <img src="../Images/Stress Low.png" alt="stress indicator">
        <h3 id="stress-level">Low</h3>
    </div>
    <div class="activity">
        <h2>Activity</h2>
        <h3 id="current-activity">Just Breath</h3>
    </div>
    <nav>
        <div class="nav-item">
            <a href="/"><img src="../Images/arrow-back.png" alt="back"></a>
        </div>
        <div class="nav-item">
            <a href="/home"><img src="../Images/home.png" alt="home"></a>
        </div>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/user-profilepng.png" alt="user profile"></a>
        </div>
    </nav>
</body>
</html>