<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/main.css">
    <link id="favicon" rel="shortcut icon" type="image/png" href="..\Images\favicon.ico"/>
    <title>Home</title>
</head>
<body onload="timeOut()">
    <div class="stresslevel">
        <h1>Heart Rate</h1>
        <% if (Uservalues.ActivityType == "MEDIUM") { %>
            <img src="../Images/heart-rateY.png" alt="stress indicator">
        <%} else if (Uservalues.ActivityType == "HIGH") { %>
            <img src="../Images/heart-rateR.png" alt="stress indicator">
        <%} else { %>
            <img src="../Images/heart-rateG.png" alt="stress indicator">
        <%}%>
        <h3 id="heart-rate"><%= Uservalues.lastHeartRate %></h3>
    </div>
    <div class="activity">
        <h2>Activity</h2>
        <h3 id="current-activity"><%= Uservalues.Activity %></h3>
    </div>
    <nav>
        <div class="nav-item">
            <a href="/"><img src="../Images/arrow-back.png" alt="back"></a>
        </div>
        <div class="nav-item">
            <a href="/home"><img src="../Images/home.png" alt="home"></a>
        </div>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/user-profilepng.png" alt="user profile"></a>
        </div>
    </nav>
</body>
<script type="text/javascript">
    
    function timeOut(){
        if (localStorage.getItem('first_time').match(true)){
            setTimeout(() => {
                window.location.reload(true);
                localStorage.setItem('first_time',false);
            }, 7000);
        }
        else{
            setTimeout(() => {
                window.location.reload(true);
            }, 300000);
        } 
        
    }
</script>
</html>