<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/main.css">
    <link id="favicon" rel="shortcut icon" type="image/png" href="..\Images\favicon.ico"/>
    <title>Schedule</title>
</head>
<body>
    <header>
        <h1>Add Schedule</h1>
    </header>
    <div class="calendar-container">
        <!-- <div class="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FJohannesburg&src=ODZlMDg2MGVmYjkxMTdiOGYxMjgzZjk1ZDAyMTdjZjI1YzE0NGVmMDcxNjM5NTQyZGRiMjkxYzI1ZTA2ODU3OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uc2EjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4tZ2Iuc2EjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23E67C73&color=%230B8043&color=%230B8043" style="border:solid 1px #777" width="350" height="400" frameborder="0" scrolling="yes"></iframe>
        </div> -->
    </div>
    <div class="topbutton">
        <div class="button login"><a href="../HTML/useraccount.html">Save</a> </div>
    </div>
    <nav>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/arrow-back.png" alt="back"></a>
        </div>
        <div class="nav-item">
            <a href="/home"><img src="../Images/home.png" alt="home"></a>
        </div>
        <div class="nav-item">
            <a href="/useraccount"><img src="../Images/user-profilepng.png" alt="user profile"></a>
        </div>
    </nav>
</body>
</html>